*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 35px ;
}
.background{
    background: linear-gradient(90deg, rgba(2,0,36,1) 16%, #090979 46%, rgba(8,21,129,1) 62%, rgba(2,0,36,1) 84%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    width: 350px;
    height: 428px;
    border-radius: 18px ;
    background-color: #fff;
}
img{
    margin: 5px 0 0 0;
    width: 75px;
    border-radius: 50%;
}
.superior{
    color: #6c5f0dcb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.inferior{
    display: flex;
    align-content:space-evenly;
    flex-direction:column ;
    height: 100%;
    width: 100%;
    padding-top: 16px ;
}
.container-check{
    display: flex;
    align-self: center;
    height: auto;
    margin: 0 10px;
    padding: 5px;
    width: 280px;
    border-top: 1.5px  solid #000;
}
.checks{
    width: 37px;
    height: 37px;
}

.final{
    border-bottom: 1.5px  solid #000;
}
.habits{
    margin-left: 10px;
    height: 30px;
    width: 200px;
    border: none;
    outline: none;
    text-align: center;
}